.navbar-brand {
  color: #18bc9c!important;
}

.list-group a {
  margin-bottom: 10px;
  display: block;
}

.badge {
  padding: 7px;
}

.container.body {
  min-height: calc(100vh - 252px);
}

/*Book*/

.book {
  /* padding: 5px; */
  background-color: #2c3e50;
  transition: box-shadow 0.25s ease-out;
  text-align: center;
  border-radius: 3px;
  height: 240px;
  margin-bottom: 25px;
  display: block;
  overflow: hidden;
  box-shadow: 0 0 5px #2c3e50;
}

.book.add {
  cursor: pointer;
}

.book.add:hover {
  box-shadow: 0 0 10px #2c3e50;
}

.book img {
  width: 100%;
  border-radius: 3px;
}

.book.trade-enable {
  position: relative;
}

.book.trade-enable img {
  border-radius: 0;
}

.book.trade-enable .trade-controls {
  cursor: pointer;
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #18bc9c;
  color: #2c3e50;
  font-size: 1.5em;
  border-radius: 0 0 0 3px;
}
